<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span>Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ ticket.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ ticket.description }}</span>
        </dd>
        <dt><span>Due Date</span></dt>
        <dd>
          <span>{{ ticket.dueDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ ticket.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ ticket.status }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ ticket.type }}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
          <span>{{ ticket.priority }}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
          <div *ngIf="ticket.project">
            <a [routerLink]="['/project', ticket.project?.id, 'view']">{{ ticket.project?.name }}</a>
          </div>
        </dd>
        <dt><span>Assigned To</span></dt>
        <dd>
          <span>{{ ticket.assignedTo?.login }}</span>
        </dd>
        <dt><span>Reported By</span></dt>
        <dd>
          <span>{{ ticket.reportedBy?.login }}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
          <span *ngFor="let label of ticket.labels; let last = last">
            <a [routerLink]="['/label', label?.id, 'view']">{{ label.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
